  <h1><%=  @list.name  %></h1>
    <% @list.movies.each do |movie| %>
      <div class="card-category">
        <%= movie.title %>
        <img src=<%= movie.poster_url %> alt=<%= movie.title %>>
      </div>
    <% end %>
  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-primary' %>
